.nav-logo{
}

.nav-links{
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vw;
}

.logo{
    height: 2rem;
    width: 5rem;
}

.navigation-bar{
    font-size: 1.2rem;
    display: flex;
    color: white;
    background-color: #242424;
    align-items: center;
    justify-content: left;
    position: sticky;
    padding:0 4rem;
    box-shadow: 0px 2px 2px rgba(270, 0, 360, 0.90);
}

.navigation-bar-container{
    width: 100%;
    position: sticky;
}
