.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #242424;
}

.signup-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #333333;
    padding: 5rem;
    border-radius: 8px;
    max-width: 46rem;
}

.signup-container input {
    width: 300px;
}

.signup-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-form input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}



.field-error {
    color: #ff4d4d;
    border: solid, 1px, #ff2d2d;
    border-radius: 2px;
    max-width: 46rem;
    max-height: auto;
    margin: 0.2rem 0.5rem;
    font-size: 0.65rem;
}