.landing-page{/* Landing Page Container Styles #f5f5f5 */
    background-color: #242424;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-content{
    color: white;
}